@font-face {
    font-family: 'Nunito';
    src: url('https://d35se641xpkbtu.cloudfront.net/84f8fe87-59d6-4f94-9910-f6388741e106/fonts/NunitoSans-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

.font-sans {
    font-family: Nunito, sans-serif;
}

.font-light {
    font-weight: 300;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

.h-1 {
    height: .25rem;
}

html {
    background-color: #111111;
    line-height: 1.15;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

div.w-full {
    background-color: #111111;
}

header,
nav,
section {
    display: block;
}

figcaption,
main {
    display: block;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

strong {
    font-weight: inherit;
}

button {
    background: transparent;
    padding: 0;
}

*,
*::before,
*::after {
    border-width: 0;
    border-style: solid;
    border-color: #dae1e7;
}

.border-2 {
    border-width: 2px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.m-8 {
    margin: 2rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.max-w-sm {
    max-width: 30rem;
}

.min-h-screen {
    min-height: 100vh;
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pb-full {
    padding-bottom: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.pin {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.text-white {
    color: white;
}

.text-grey {
    color: gray;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-5xl {
    font-size: 3rem;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {

    .md\:bg-right {
        background-position: right;
    }

    .md\:flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .md\:min-h-screen {
        min-height: 100vh;
    }

    .md\:pb-0 {
        padding-bottom: 0;
    }

    .md\:text-15xl {
        font-size: 9rem;
    }

    .md\:w-1\/2 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .lg\:bg-center {
        background-position: center;
    }
}
